<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>To Do List</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
  <link rel="stylesheet" href="./styles/styles.css">
</head>

<body>
  <%- include('nav') -%>

  <%- include('header') -%>


  <div class="box">
    <% for (var i =0; i<newListItems.length; i++) { %>
    <div class="item">
      <input type="checkbox">
      <p><%= newListItems[i] %></p>
    </div>
    <% } %>
    <form class="item" action="/" method="POST">
      <input type="text" name="newItem" placeholder="New Item" autocomplete="off">
      <button type="submit" name="list" value="<%= ListTitle %>">+</button>
    </form>
  </div>
  </ul>
  <%- include('footer') -%>
</body>

</html>